<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/previous-intention.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
       <a href="/home"><button class="button icon-left ion-chevron-left button-clear button-white">Back</button></a>
        <h1 class="title">Previous Intentions</h1>
      </ion-header-bar>
      <ion-content overflow-scroll="true">
      <br><br><br>
      {{#each intentions}}
      <div class="list card">
       <div class="item">
       <div class="wrapper">
       <div class="first">
        <h2>{{title}}</h2>
        </div>
        <div class="second" align="right">
        <button class="button button-small button-clear button-dark icon ion-edit"></button>
        <button class="button button-small button-clear button-dark icon ion-close-round" onclick="deleteIntention('{{id}}')"></button>
        </div>
        </div>
        <p><small>{{sentiment}}</small></p>
        <p>{{description}}</p>
        {{#if answers}}
        <button id="show-more-button_{{id}}" class="button-clear" onclick="showMore('{{id}}')"><p style="color: blue">Show answers</p></button>
    <div id="intention-body_{{id}}" class="item item-body hidden">
    {{#each answers}}
    <p style="font-weight: bold;"><small>{{question}}</small></p>
    <p><small>{{answer}}</small></p>
    {{/each}}
    <button class="button-clear" onclick="showMore('{{id}}')"><p style="color: blue">Show less</p></button>
  </div>
    {{/if}}
      </div>
      </div>
      {{/each}}
    </ion-content> 
    </ion-pane>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
